a {
    text-decoration: none!important;
}

.container-content {
    display:flex;
    gap: 24px;
    justify-content: center;
    padding:20px;
}

.navbar-collapse {
    justify-content: flex-end;
}

.navbar {
    padding: 5px 20px!important;
}

.card {
    transition: all 0.2s ease;
    width: 30%;
    height: 200px;
    -webkit-box-shadow: 0px 0px 36px -14px rgba(136, 135, 135, 0.75);
-moz-box-shadow: 0px 0px 36px -14px rgba(136, 135, 135, 0.75);
box-shadow: 0px 0px 36px -14px rgba(136, 135, 135, 0.75);
}

.card:hover {
    background-color: rgba(13,110,253);
    color: white!important;
}

.card-body {
    display: flex;
    justify-content: center;
    align-items: center;
}

